
.slide__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}


h1 {
  margin: 2vw 0;
  font-size: 5vw;
}
h2 {
  margin: 2vw 0;
  font-size: 4vw;
}
p {
  font-size: 3vw;
  margin: 2vw 0;
}
.tac {
  text-align: center;
}
.sub-title {
  font-size: 2.5vw;
  font-style: italic;
  text-align: center;
  color: #666;
}
